* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8FB8ED;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.amount input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.select-box {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
}

.select-box img {
    width: 30px;
    margin-right: 8px;
}

select {
    border: none;
    outline: none;
}

button {
    width: 100%;
    height: 40px;
    background: #5A7D7C;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.result {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}
